<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.letv.whatslive.mysql.mybatis.system.SysRoleDao">

    <resultMap id="sysRoleResultMap" type="SysRole">
        <id property="id" column="ID"/>
        <result column="ROLE_NAME" property="roleName"/>
        <result column="CREATED_TIME" property="createdTime"/>
        <result column="UPDATED_TIME" property="updatedTime"/>
    </resultMap>


    <insert id="insertSysRole" useGeneratedKeys="true" keyProperty="id" parameterType="SysRole">
		insert into SYS_ROLE (
            ROLE_NAME,CREATED_TIME,UPDATED_TIME
    	) values (
            #{roleName},#{createdTime},#{updatedTime}
    	)
	</insert>

    <update id="updateSysRole" parameterType="SysRole">
        update SYS_ROLE
        <set>
            <if test="roleName != null">ROLE_NAME=#{roleName},</if>
            <if test="updatedTime != null">UPDATED_TIME=#{updatedTime},</if>
        </set>
        where ID=#{id}
    </update>

    <select id="getSysRoleList" parameterType="map" resultMap="sysRoleResultMap">
       select * from SYS_ROLE
       order by ID desc
   </select>

    <select id="getSysRoleById" parameterType="int" resultMap="sysRoleResultMap">
        select * from SYS_ROLE
        where ID = #{id}
    </select>

    <select id="existsRole" parameterType="string" resultType="int">
        select count(1) from SYS_ROLE
        where ROLE_NAME=#{roleName}
    </select>

    <select id="countSysRole" parameterType="map" resultType="int">
        select count(1) from SYS_ROLE
        <include refid="queryCondition"/>
    </select>

    <select id="getSysRoleListByParams" parameterType="map" resultMap="sysRoleResultMap">
        select * from SYS_ROLE
        <include refid="queryCondition"/>
        order by ID desc
        <if test="start != null  and limit != null">
            limit #{start},#{limit};
        </if>
    </select>

    <sql id="queryCondition">
        <where>
            <if test="id != null">
                ID=#{id}
            </if>
            <if test="roleName != null">
                and ROLE_NAME=#{roleName}
            </if>
            <if test="searchName != null">
                and ROLE_NAME like concat('%',#{searchName},'%')
            </if>
        </where>
    </sql>

</mapper>